body { background-color: darkgrey;
 color: rgb(0,0,0);
 font-family: Arial, Helvetica, sans-serif; }
h1{background-color: darkgrey;
 color:rgb(0,0,0); }
h3{background-color:darkgrey;
 color:rgb(0,0,0);
 font-weight:bold;}
.image {
float:left;
}
nav{
   
}
nav ul{
    padding: 0px;
    margin: 0px;
}
nav li{
    display: inline-block;
}
footer{
    background-color: rgb(0,0,0);
    color:rgb(255,255,255);
    text-align: center;
}
section:after {
  content: "";
  display: table;
  clear: both;
}
.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
@keyframes bounce {
  0% {
    transform: translateY(-200%);
  }
  100% {
    transform: translateY(0);
  }
}
